*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
  background-color: black;
  color: white;
}
nav{
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: black;
  padding: 22px;
  box-shadow: 0px 2px 6px 2px rgb(71, 68, 68);
  color: white;
}
.logo{
  font-size: 25px;
  margin-left: 33px;
  color: green;
}

nav ul li a{
  margin-inline: 22px;
  text-decoration: none;
  color: white;
}
ul li{
  list-style: none;

}
nav ul{
  margin-right:63px ;
  margin-top: 6px;
}
ul li button{
  width: 100px;
  height: 33px;
  background-color: rgb(18, 96, 18);
  color: white;
  border: none;
  font-size: 18px;
  font-weight: bold;
}
ul li button:hover{
  border: 2px solid white;
  background-color: transparent;
  color: rgb(26, 195, 60);
  cursor: pointer;
  border-radius: 4px;

}
ul li a:hover{
  color: green;
  border-bottom: 2px solid green;
}

/*main*/
.home{
  display: flex;
  justify-content: center;

}
.home img{
  width: 59%;
  margin-top: 130px;
  margin-left: -174px;
}
.home .homeText{
  margin-top: 200px;
  margin-left: 44px;

}
.homeText h1{
  font-size: 65px;
  color: green;
}
.homeText h3{
  margin-top: 22px;
  font-size: 22px;
}
.homeText p{
  margin-top: 22px;
  color: silver;
}
.homeText button{
  width: 140px;
  font-size: 22px;
  margin-top: 22px;
  height: 40px;
  background-color: green;
  color: white;
  border: none;

}
.homeText button:hover{
  border: 2px solid white;
  background-color: transparent;
  color: green;
}
.head{
  text-align: center;
  padding: 95px;

}
.head span{
  color: rgb(40, 191, 23);
  
}
.ourProgram{
  display: flex;
  justify-content: center;
}
.ourProgram .crd{
  margin-inline: 22px;
  text-align: center;
}
.ourProgram .crd img{
  width: 400px;
  border: 2px solid green;
  border-radius: 4px;
}
.ourProgram .crd img:hover{
  width: 80%;

}
/*Plan */
.ourPlan{
  display: flex;
  justify-content: center;
}
.ourPlan .card{
   width: 300px;
  height: 440px;
  padding: 4px;
  
  background-color: rgb(50, 47, 47);
  text-align: center;
  margin-inline: 22px;
}
.card i{
  font-size: 22px;
  margin-top: 22px;
  color: orange;
}
.card h3{
  margin-top: 23px;
  color: rgb(100, 232, 100);
}
.card h1{
  margin-top: 23px;
  color: rgb(86, 221, 86);
}
.card p{
  margin-top: 12px;
  color: white;
}
.card button{
  margin-top: 22px;
  width: 130px;
  height: 38px;
  background-color: orange;
  border: none;
  color: white;
  font-size: 18px;
}
.card button:hover{
  border: 2px solid white;
  background-color: transparent;
  color: green;
  cursor: pointer;
}
.card:hover{
  transition: 0.7s ease;
  width: 320px;
  height: 450px;
  background-color: black;
  font-size: 19px;
  cursor: pointer;
  

}

/*blog*/
.ourBlog{
  display: flex;
  justify-content: center;
  

}
.ourBlog .blogCard{
  width: 330px;
  height: 630px;
  margin-inline: 22px;
  background-color: rgb(48, 46, 46);
  border-radius: 3px;
  
}
.blogCard img{
  width: 100%;
  height: 350px;

}
.blogCard p{
  margin-top: 22px;
}

.blogText a{
  text-decoration: none;
  color: rgb(240, 240, 239);
  width: 70px;
  padding: 12px;
  background-color: green;
  position: absolute;
  margin-top: 22px;
}
.blogText{
  margin-top: 11px;
  margin-left: 6px;
}

/*Contact*/

.contactPage{
  display: flex;
  justify-content: center;
}
.contactText{
  margin-left: 33px;
  color: green;
  margin-top: 134px;
  font-size: 32px;

}
.contactPage img{
  width: 60%;
  
  
}
.contactUs{
  text-align: center;
  margin-top: 22px;
}
.contactUs input{
  padding: 5px;
  width: 350px;
  height: 45px;
  border-radius: 2px;
  border: none;
  outline: none;
  font-size: 22px;
  margin-top: 18px;
}
.contactUs button{
  width: 350px;
  height: 45px;
  color: white;
  border: none;
  font-size: 22px;
  border-radius: 2px;
  margin-top: 22px;
  background-color: rgb(21, 141, 21);
}
.contactUs button:hover{
  border: 2px solid white;
  background-color: transparent;
  color: rgb(27, 190, 27);
}
.footer{
  display: flex;
  justify-content: center;
  margin-top: 53px;
  padding: 22px;
  box-shadow: 0px 2px 6px 4px gray;
}
.footer .footerText{
  margin-inline: 73px;
  margin-top: 33px;
}
.footerText p{
  margin-top: 11px;
  color: silver;
}